.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
tests
docs

